*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cal{
    width: 500px;
    background-color: gray;
    border-radius: 7px;
    padding: 25px;
}

#display{
    width: 100%;
    height: 65px;
    outline: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.btns button{
    font-size: 25px;
    padding: 15px 0;
    cursor: pointer;
}